@font-face {
   font-family: 'Braize';
   src:  url('./Braize-Demo.ttf') format('ttf');
   font-weight: 600;
   font-style: normal;
}

.hello {
    color: red;
    font-family: 'Braize';
    background: url('./icons.jpg');
}